@mixin font-face($family) {
  $filepath: "../fonts/" + $family;
  @font-face {
    font-family: "#{$family}";
    src: url($filepath + ".eot"),
    url($filepath + ".eot?#iefix") format('embedded-opentype'),
    url($filepath + ".woff") format('woff'),
    url($filepath + ".ttf") format('truetype'),
    url($filepath + ".svg#" + $family + "") format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('Roboto-Regular');
@include font-face('Roboto-Medium');

@mixin Roboto-Regular {
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-weight: normal;
}

@mixin Roboto-Medium {
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-weight: normal;
}

@mixin font-style($size,$color){
  font-size: $size;
  color: $color;
}



